.Cell {
  height: 10vh;
  width: 10vh;
  background-color: darkgray;
  border-radius: 5px;
  transition: all 0.1s ease-in;
}

.Cell:hover {
  transform: scale(0.99);
  opacity: 0.95;
  border: 1px rgb(94, 92, 95) solid;
}

@media (max-width: 580px) {
  .Cell {
    height: 15vw;
    width: 15vw;
  }
}

.Cell-lit {
  background-color: white;
}