footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 50px 0;
}

.f-logos {
    display: flex;
    gap: 1rem;
}

.f-logo {
    height: 40px;
    width: 40px;
    opacity: 0.8;
}

.f-logo:hover {
    opacity: 1;
}

.f-logo.bordered {
    background-color: var(--primary);
    padding: 7px;
    border-radius: 50px;
}