.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pl-title {
    font-size: 50px;
}

.pl-filters {
    margin-bottom: 5rem;
    list-style: none;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pl-filter {
    background-color: var(--secondary);
    padding: 5px 1rem;
    border-radius: 50px;
    border: 1px solid var(--secondary);
    cursor: pointer;
}

.pl-filter.active {
    background-color: var(--primary);
    transform: scale(1.1);
    border: 1px solid var(--secondary);
    color: var(--background);
}

.pl-filter:hover {
    background-color: var(--background);
    color: var(--primary);
    transform: scale(1.1);
    border: 1px solid var(--secondary);
}

.pl-card-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.pl-item {
    width: 250px;
    height: 150px;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid var(--gray-secondary);
    border-radius: 1rem;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.pl-item-img {
    width: 100%;
    width: 100%;
    object-fit: cover;
}

.pl-item-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--background);
    user-select: none;
    display: none;
    z-index: 10;
}

.pl-item:hover .pl-item-img {
    opacity: 0.2;
}

.pl-item:hover {
    background-color: var(--primary);
}

.pl-item:hover .pl-item-title {
    display: block;
}