.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
}

.pl-title {
    font-size: 50px;
}

.pl-filters {
    margin-top: 2rem;
    margin-bottom: 5rem;
    list-style: none;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pl-filter {
    background-color: var(--secondary);
    padding: 5px 1rem;
    border-radius: 50px;
    border: 1px solid var(--secondary);
    cursor: pointer;
}

.pl-filter.active {
    background-color: var(--primary);
    transform: scale(1.1);
    border: 1px solid var(--secondary);
    color: var(--background);
}

.pl-filter:hover {
    background-color: var(--background);
    color: var(--primary);
    transform: scale(1.1);
    border: 1px solid var(--secondary);
}

.pl-filter:active {
    transform: scale(1);
}

.pl-card-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.pl-carousel {
    cursor: grab;
    overflow: hidden;
    width: 100%;
    background-color: var(--gray-ghost);
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    height: 440px;
}