.featured {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.featuredItem {
    box-shadow: var(--shadow);
    padding: var(--box-padding);
    flex: 1 1 100px;
    border-radius: var(--box-radius);
    background-color: var(--white);
    text-align: center;
}

.featuredTitle {
    color: var(--gray);
    font-weight: 800;
    letter-spacing: -0.5px;
    font-size: 1rem;
    margin-bottom: 5px;
}


.featuredStat {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text);
}


.featuredChange {
    padding-top: 12px;
    font-size: 14px;
}

.featuredArrow {
    height: 14px !important;
    margin-bottom: -3px;
    margin-right: -5px;
}

.featuredArrow,
.featuredChange {
    color: var(--primary);
    font-weight: 600;
}

.featuredChange.down,
.featuredArrow.down {
    color: var(--red);
}

.featuredItem .featuredIcon {
    background-color: var(--primary);
    height: 50px !important;
    width: 50px !important;
    fill: var(--background) !important;
    padding: 10px;
    border-radius: var(--box-radius);
    margin-bottom: 20px;
    transform: scale(1);
    transition: 0.2s ease;
}

.featuredItem:hover .featuredIcon {
    transform: scale(1.1);
}