.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--background);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navWrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 900;
    font-size: 1.2rem;
    cursor: pointer;
    background: var(--primary);
    background: -webkit-linear-gradient(to right, var(--primary) 0%, var(--accent) 100%);
    background: -moz-linear-gradient(to right, var(--primary) 0%, var(--accent) 100%);
    background: linear-gradient(to right, var(--primary) 0%, var(--accent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navLeft {}

.navRight {
    display: flex;
    align-items: center;
    gap: var(--gap);
    color: var(--gray);
}

.navIconContainer {
    position: relative;
    margin-top: 4px;
    cursor: pointer;
}

.navIcon {
    height: 20px !important;
    cursor: pointer;
    transform: scale(1);
    transition: 0.2s ease;
}

.navIcon:hover {
    fill: var(--text);
    transform: scale(1.1);
}

.navIconBadge {
    position: absolute;
    top: -1px;
    right: -3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    height: 14px;
    width: 14px;
    border-radius: 50px;
    font-size: 12px;
    color: var(--background);
}

.navAvatar {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}