.Footer {
    background-color: #fff;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

.Footer .palette-name {
    font-weight: 700;
    color: #597684;
}

.Footer .emoji {
    font-size: 1.5rem;

}