.carousel-box {
    width: 900px;
    height: 300px;
    margin-top: 2rem;
    background-color: var(--primary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.carousel {
    width: 100%;
    padding: 25px;
    overflow: hidden;
}

.carousel-item-container {
    width: 100%;
    display: flex;
    gap: 5%;
    transform: translateX(0);
    transition: 1s ease;
}

.carousel-button {
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    fill: var(--gray-primary);
    background-color: var(--background);
    border-radius: 50px;
    filter: drop-shadow(0px 0px 10px #00000038);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel-button.left {
    transform: translateX(-50%);
}

.carousel-button.right {
    transform: translateX(50%);
}

.carousel-button:hover,
.carousel-button:active {
    fill: var(--primary);
}

.carousel-item {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    flex-shrink: 0;
}

.carousel-image {
    width: 350px;
    height: 350px;
    align-self: center;
    object-fit: cover;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px #00000038);
}

.carousel-item figure {
    color: var(--background);
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 3rem;
    justify-content: center;
}

.carousel-item blockquote {
    font-size: 1.1rem;
    line-height: 1.4;
}

.carousel-item figcaption {
    font-size: 0.9rem;
    font-weight: 300;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 8px;
}

.carousel-dots {
    width: 100%;
    position: absolute;
    bottom: -4rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.carousel-dots div {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    border: 2px solid var(--primary);
    cursor: pointer;
}

.carousel-dots div.active {
    background-color: var(--primary);
}