@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
*:before,
*:after {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background: #f5d1d2;
  border-radius: 50px;
  border: #fff solid 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #f0c7c9;
}

#root {
  padding: 0 15vmax;
  margin-left: 5rem;
}

@media only screen and (max-width: 600px) {
  #root {
    margin: 0;
  }
}