.contributor-imgs img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--white);
    transform: scale(1);
    transition: 0.3s ease;
}

.contributor-imgs img:hover {
    transform: scale(1.1);
}

.contributor-imgs img:not(:first-child) {
    margin-left: -20px;
}