.priority-bubble {
    background-color: var(--gray-secondary);
    padding: 5px 10px;
    border-radius: 8px;
    color: var(--white);
    font-size: 14px;
    opacity: 0.9;
}

.priority-bubble.high {
    background-color: var(--red);
}

.priority-bubble.low {
    background-color: var(--primary);
}

.priority-bubble.medium {
    background-color: var(--orange);
}