.widgetSm {
    flex: 1;
}

.widgetLg {
    flex: 2;
}

.widgetLg,
.widgetSm {
    box-shadow: var(--shadow);
    background-color: var(--white);
    padding: var(--box-padding);
    border-radius: var(--box-radius);
    overflow-y: scroll;
    max-height: 450px;
}

.widgetSmList {
    display: flex;
    flex-direction: column;
}

.widgetSmListItem {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--gray-ghost);
    padding: 20px 0;
}

.widgetSmItemInfo {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}

.widgetSmImg {
    border-radius: 12px;
    height: 40px;
    width: 40px;
    object-fit: cover;
    grid-row: 1/span 2;
}

.widgetSmItemName {
    font-weight: 600;
}

.widgetSmItemType {
    color: var(--gray);
    font-size: 14px;
    grid-column: 2;
    grid-row: 2;
}

.widgetSmButton {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--white);
    background-color: var(--gray-tertiary);
    padding: 6px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.widgetSmButton:hover {
    background-color: var(--primary);
}

.widgetSmIcon {
    height: 17px !important;
}

.widgetSmItemLine,
.widgetLgRowDiv {
    height: 1px;
    background-color: var(--gray-secondary);
    opacity: 0.4;
}

.widgetSmListTitles,
.widgetLgTh {
    font-size: 13px;
    color: var(--gray);
    font-weight: 600;
    text-transform: uppercase;
}

.widgetSmListTitles {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    position: sticky;
    top: -30px;
    padding: 30px 0 20px;
    background-color: var(--white);
}

.widgetLgTh {
    padding-bottom: 20px;
    padding-top: 30px;
    position: sticky;
    top: -30px;
    z-index: 1;
    background-color: var(--white);
}

.widgetLgTable {
    width: 100%;
    text-align: left;
    border-spacing: 12px;
    border-collapse: collapse;
}

.widgetLgTr {
    border-top: 1px solid var(--gray-ghost);
}

.widgetLgTr td {
    padding: 10px 0;
}

.widgetLgTr .widgetLgContributors img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--white);
}

.widgetLgContributors img:not(:first-child) {
    margin-left: -20px;
}

.widgetLgDetail {
    background-color: var(--gray-secondary);
    padding: 5px 10px;
    border-radius: 8px;
    color: var(--white);
    font-size: 14px;
    opacity: 0.9;
}

.widgetLgDetail.high {
    background-color: var(--red);
}

.widgetLgDetail.low {
    background-color: var(--primary);
}

.widgetLgDetail.medium {
    background-color: var(--orange);
}

.widgetLgStatus.resolved {
    color: var(--primary);
}