.i {
    display: flex;
    min-height: 100vh;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.i-right {
    flex: 1;
    position: relative;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.i-intro {
    font-size: 4rem;
    font-family: 'Architects Daughter', cursive;
}

.i-name {
    font-family: inherit;
    font-size: 5rem;
    display: inline;
}

.i-title-item {
    height: 50px;
    font-weight: bold;
    display: inline;
    font-size: 2rem;
    color: var(--primary);
    display: flex;
    align-items: center;
}

.i-desc {
    padding-top: 30px;
    max-width: 450px;
}

.i-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.3;
    top: 0;
    right: 0;
    z-index: -1;
}

.i-img {
    height: 100%;
    width: 100%;
    padding: 5vmin;
    object-fit: contain;
}

.i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary);
}

@media only screen and (max-width: 992px) {
    .i {
        min-height: -webkit-fill-available;
        flex-direction: column;
        text-align: center;
        position: relative;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .i-left,
    .i-right,
    .i-left-wrapper {
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .i-right {
        width: 100%;
        padding-top: 50px;
    }

    .i-bg {
        display: none;
    }

    .i-img {
        transform: translateX(8.5%);
        max-width: 600px;
    }
}

@media screen and (max-width: 480px) {

    .i-intro {
        font-size: 3rem;
    }

    .i-name {
        font-size: 4rem;
    }

    .i-desc {
        display: none;
    }

    .i-title-item {
        font-size: 1.5rem;
    }

    .i-scroll {
        bottom: 10px;
    }

}