.season-display {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.season-display.winter {
    background-color: rgb(210, 222, 233);
}

.season-display.summer {
    background-color: rgb(238, 190, 102);
}

.season-display.winter .icon {
    color: rgb(64, 219, 224);
}

.season-display.summer .icon {
    color: rgb(255, 94, 0);
}

.icon-left {
    position: absolute;
    top: 20%;
    left: 20%;
}

.icon-right {
    position: absolute;
    bottom: 20%;
    right: 20%;
}