.App {
  text-align: center;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TodoList h1 {
  padding-bottom: 1.5rem;
  letter-spacing: 3px;
  font-size: 2.7rem;
  color: #ffffffee;
}

.NewTodoForm {
  position: relative;
  width: 80vw;
  max-width: 1200px;
  margin: 20px;
}

.NewTodoForm form,
.Todo.editing {
  display: flex;
  flex-direction: column;
  border: 1px solid #495263;
  border-radius: 10px;
  overflow: hidden;
}

input,
textarea {
  background-color: #2B3349;
  border-style: none;
  padding: 1em 30px;
  font-size: 1em;
  color: #fff;
}

.Todo.editing input,
.Todo.editing textarea {
  background-color: rgba(255, 255, 255, 0);
}

input::placeholder,
textarea::placeholder {
  color: #495263;
}

input {
  font-size: 1.5em;
}

textarea {
  overflow: hidden;
  height: 3em;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea.active {
  padding-bottom: 3rem;
}


.NewTodoForm button {
  background: rgb(79, 46, 178);
  background: linear-gradient(129deg, rgba(79, 46, 178, 1) 0%, rgba(144, 51, 114, 1) 100%);
  border: 1px #fff solid;
  position: absolute;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  right: 0;
  top: 0;
  transform: translate(30%, 100%);
}

.NewTodoForm button:hover {
  background: rgb(79, 46, 178);
  background: linear-gradient(129deg, rgb(102, 61, 224) 0%, rgb(116, 43, 201) 61%, rgb(149, 47, 216) 100%);
}

.NewTodoForm button.inactive {
  padding: 5px;
  transform: translate(40%, 110%);
}

.NewTodoForm button:disabled {
  background: rgb(43, 5, 158);
  background: linear-gradient(129deg, rgb(39, 11, 124) 0%, rrgb(78, 23, 141)61%, rgb(66, 2, 109) 100%);
  color: #949eb1;
  border: #6b7485 1px solid;
}

.todo-container {
  margin: 2.5em 0;
}

.Todo {
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 10px;
  border: rgba(255, 255, 255, 0.342) solid 1px;
  width: 80vw;
  max-width: 1200px;
  margin: 20px;
  padding: 20px;
  text-align: left;
  position: relative;
}

.Todo.editing {
  background-color: rgba(248, 100, 100, 0.158);
  overflow: visible;
}

.Todo h3 {
  text-transform: capitalize;
  letter-spacing: 1.2px;
  padding-bottom: 15px;
}

.Todo p {
  color: #727484;
  letter-spacing: 1.5px;
  overflow-wrap: break-word;
  padding-right: 10px;
}

.Todo .buttons {
  display: flex;
  flex-direction: column;
  width: 40px;
  position: absolute;
  top: 0;
  right: -10px;
}

.Todo button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #fff;
  background: rgb(79, 46, 178);
  background: linear-gradient(129deg, rgba(79, 46, 178, 1) 0%, rgba(99, 34, 175, 1) 61%, rgba(114, 25, 173, 1) 100%);
  border: 1px #fff solid;
}

.Todo .icon {
  transform: translate(-5%, 5%);
}


.Todo button:hover {
  background: rgb(79, 46, 178);
  background: linear-gradient(129deg, rgb(102, 61, 224) 0%, rgb(116, 43, 201) 61%, rgb(149, 47, 216) 100%);
}

.Todo textarea,
.Todo input {
  background-color: rgba(255, 255, 255, 0);
  height: 1.5rem;
  width: 95%;
  padding-bottom: 5%;
}