.App .SideBar {
    position: absolute;
    width: 300px;
    background-color: rgb(218, 145, 50);
    height: 100%;
    display: flex;
    padding-bottom: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SideBar-emoji {
    font-size: 7rem;
}

.SideBar button {
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    height: 3rem;
    width: 8rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.SideBar button:hover,
.SideBar button:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.SideBar button:active {
    transform: translateY(1px);
}