@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #343a40;
  --background: #fff;
  --primary: #195f49;
  --gray-primary: rgba(103, 112, 121, 0.75);
  --gray-secondary: rgba(103, 112, 121, 0.5);
  --gray-tertiary: rgba(103, 112, 121, 0.25);
  --gray-ghost: rgba(103, 112, 121, 0.1);
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--background);
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
}